#randomHero{
  background-color: #f49e42;
}

#manualHero{
  background-color: #9d41f4;
  color: #fff;
}

.textColorRandom{
  color: #f49e42;
}

.textColorManual{
  color: #9d41f4;
}

.width100p{
  width: 100%;
}
